@charset "UTF-8";

@import 'lib/bourbon/bourbon';
@import 'lib/normalize';
@import 'settings';
@import 'lib/foundation';
@import 'lib/foundation-icons';
@import 'custom.scss';

body {
  -webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-weight: normal;
  letter-spacing: 0;
}
